body {
  text-align: center;
}

/* ****************************** */
/* Start General Tag Styles */
/* ****************************** */
.qrtag {
  border: 1px solid;
  border-radius: 20px;
}

.tag-title {
  font-weight: 700;
  padding-top: 2px;
  padding-bottom: 2px;
}

.tag-id {
  border: 2px solid;
  border-radius: 30px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #87cefa; /* pico labs blue*/
  color: white;
}

.tag-text {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}
/* ****************************** */
/* End General Tag styles */
/* ****************************** */

/* ****************************** */
/* Start Sticker Specific Styles */
/* ****************************** */
.sticker {
  width: 25mm; /* 80px;*/
  height: 30mm; /* 110px; */
  font-size: 6px;
  flex-grow: 0;
  flex-basis: auto;
  padding-left: 1px;
  padding-right: 1px;
}

.sticker .tag-title {
  font-size: 9px;
  margin-top: 3px;
}

.sticker .tag-id {
  font-size: 8px;
}

.sticker .tag-id.short-background {
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 6px;
  padding-right: 6px;
}

.sticker .tag-id.long-background {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.sticker .tag-text {
  font-size: 8px;
}
/* ****************************** */
/* End Sticker Specific Styles */
/* ****************************** */


/* ****************************** */
/* Start Hole Punch Specific Styles */
/* ****************************** */
.hole-punch {
  width: 32mm;
  height: 53mm;
  flex-grow: 0;
  flex-basis: auto;
  font-size: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.hole-punch .tag-title {
  font-size: 12px;
}

.hole-punch .tag-id {
  font-size: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.hole-punch .tag-text {
  font-size: 10px;
}
/* ****************************** */
/* End Sticker Specific Styles */
/* ****************************** */

/* ****************************** */
/* Start RFID Specific Styles */
/* ****************************** */
.rfid {
  width: 53mm;
  height: 85mm;
  flex-grow: 0;
  flex-basis: auto;
  font-size: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.rfid .tag-title {
  font-size: 24px;
  padding-top: 5px;
  padding-bottom: 0px;
}

.rfid .tag-report {
  font-size: 12px;
  margin: 1px;
  margin-bottom: 3px;
}

.rfid .tag-id {
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

.rfid .tag-text {
  font-size: 12px;
}

.rfid .tag-footer {
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
  padding-bottom: 5px;
}


/* ****************************** */
/* End Sticker Specific Styles */
/* ****************************** */
